.download__button {
    background-color: black;
    color: $text-white;
    font-family: $ff-catamaran;
    font-weight: 700;
    font-size: $fs18;
    text-transform: capitalize;

    padding: 1rem 2rem;
}
