// banner dimensions
$banner-height: 420px;
$banner-width: 1000px;

// color
$yellow: #d3b714;
$orange: #e73635;

// text color
$text-white: #fafafa;

// component color
$banner-divider-color: $orange;

// font family
$ff-catamaran: "Catamaran", sans-serif;
$ff-montserrat: "Montserrat", sans-serif;

// font size
$fs14: 1.4rem;
$fs16: 1.6rem;
$fs18: 1.8rem;
$fs24: 2.4rem;
$fs28: 2.8rem;
$fs32: 3.2rem;
$fs36: 3.6rem;
