*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;

    #banner {
        background-color: #16161d;
        color: #fafafa;
        height: 42rem;
        width: 100rem;
    }
}
